.container{
    padding :2rem;
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    gap:1rem;
    margin-top: 1.8rem;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1rem;
}
.tbody>tr>td{
    text-align: center;
}

.tbody>tr>:nth-child(2){
    width: 15%;
}

.imageTd>span>img{
    border-radius: 1.5rem;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 13rem;
    width: 17rem;
    padding: 1rem;
    background: var(--cartBack);
    box-shadow: var(--shadow);
    border-radius: 2rem;
   
}

.cart>span{
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}
.CartDetails{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}

.CartDetails>div{
    display: flex;
    flex-shrink: 5px;
    justify-content: space-around;
}

.buttons{
    display: flex;
    gap:0.8rem;
}
@media screen and (max-width: 800px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .details{
        font-size: x-small;
        position: relative;
        right:40px;
    }


}
