.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex:1;
}

.logo>span{
    font-weight: bold;
    font-size: 1.5rem;
}
.menu{
    flex:1;
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;
    z-index: 99;
    
}

.menu>li:hover{
    cursor:pointer;
    color: var(--themeRed);
    transform: scale(1.1);
}

.rightSide{
    flex:1;
    display: flex;
    justify-content: flex-end;
    
}

.cart{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 99;
    margin-right:1.5rem;
}

.badge{
    position: absolute;
    display: flex;
    background-color: var(--themeRed);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    right: -0.5rem;
}
@media screen and (max-width: 450px) {
    .header{
        font-size: smaller;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        backdrop-filter: blur(10px);
        padding-bottom: 40px;
        height: 10%;
    }
    .rightSide{
        position: relative;
        top:30px;
        right:45px;
    }
    .logo>span{
        font-size: medium;
        margin-top: 22px;
    }

}
