.container { 
    display : flex; 
    flex-direction : column;
    gap : 2rem; 
    margin-top : 4rem;
    align-items : center; 
    justify-content : center; 
} 
.heading {
     font-size : 2rem; 
     font-weight : 600;
}
.details{ 
    display : flex; 
    flex-direction : column;
    gap : 1rem; 
    width: 45%;
}    
.details>div{ 
    display : flex; 
    justify-content : space-between;
} 
.details>div>span:nth-of-type(2) { 
    font-weight: 600;
}

.statusContainer{ 
    display : flex; 
    gap : 15rem; 
} 
.status{ 
    display : flex; 
    flex-direction : column; 
    gap : 1rem; 
    width : 3rem; 
    position : relative; 
    align-items : center;
} 
.status>*{
    fill: var(--themeRed);
}
.spinner{ 
    position : absolute; 
    left : -1.5rem; 
    top : -1.5rem; 
    width : 6rem;
} 
.pending{ 
    width : max-content; 
    background-color : orange;
    padding : 0.5rem; 
    font-size : 0.8rem; 
    border-radius : 1rem ;
    color : white;
}

.completed{
    border-radius: 1rem;
    color: white;
    background-color: rgb(159, 230, 53);
    padding: 0.5rem;
    font-size: 0.8rem;
}
@media screen and (max-width: 1000px) {
    .statusContainer{
        display: flex;
        flex-direction: column;
        gap:4rem
    }
   .details{
        width:80%;
        font-size: medium;
    } 

}
