.container{
    display: flex;
    padding: 2rem;
    gap: 3rem;
    margin-top: 2.5rem;
}

.imageWrapper{
    position: relative;
    width: 40%;
    height: 20rem;
    overflow: hidden;
    border-radius: 2rem;
}
.imageWrapper>span>img:hover{
    transform: scale(1.1);
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: space-between;
    row-gap: 1.3rem;
}

.right>:nth-child(2){
    font-size: 1rem;
    font-weight: normal;
    color: var(--gray);
}

.size{
    display: flex;
    gap: 3rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.sizeVariants{
    display: flex;
    gap: 0.6rem;
    font-weight: normal;
    color: var(--themeRed);
    font-size: 0.8rem;
}

.sizeVariants >div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1.5rem;
    border: 2px solid var(--themeRed);
    border-radius: 2rem;
}

.sizeVariants >div:hover{
    background-color: var(--themeRed);
    color: white;
    cursor: pointer;
}

.quantity, .counter{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
}

.btn{
    color: white;
    background-color: var(--themeRed);
    font-size: 0.8rem;
    padding: 0.3rem 1.5rem;
    border: 2px solid var(--themeRed);
    border-radius: 2rem;
    width:max-content;
    cursor:pointer;
}
.selected{
     background-color: var(--themeRed);
    color: white;
}
@media screen and (max-width: 800px) {
    .container{
        display: flex;
        flex-direction: column;
        }
        .imageWrapper{
            width:100%;
            height:10rem;
        }
        .size{
            flex-direction: column;
            gap:0.5rem;
        }
        .right>:nth-child(2){
            font-size:small;
        }
}
